header.header
  nav.header-nav
    span #{title}
    ul.links
      li
        a(href="/server/home") 首页
      li
        a 分类管理
      li
        a 文章管理
      li
        a 用户管理
      li
        a #{user.name}
      li
        a(href="/server/signout") 注销
    button MENU
    ul.hidden-links.hidden
