header.header
  nav.header-nav
    span #{title}
    ul.links
      li
        a 首页
      li
        a 分类管理
      li
        a 文章管理
      li
        a 用户管理
      li
        a 登录用户
      li
        a 注销
    button MENU
    ul.hidden-links.hidden
