doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" href="/images/favicon.png")
    link(rel='stylesheet' href='/styles/normalize.min.css')
    link(rel='stylesheet' href='/styles/style.css')
  body
    block content
    script(src="/js/jquery-3.2.1.min.js")
    script(src="/js/header.js")
